page-receive-method-select {

    .vertical-align-table-wrapper { width: 100%; height: 100%; padding: 0em; margin: 0em;}

    td { padding: 0.7em;}

    .card table button {
        padding: 0px;
        margin: 0px;
    }
}
