web-make-default-content {

    .artcode-url-textarea1 {
        width: 100%;
        color: black;
        background-color: white;
        border: 1px solid black;
    }

}

/** 
 * Hide cordova-plugin-camera image picker input element 
 * as it just adds it the the body element. 
 * 
 * We manually call click().
 **/
.cordova-camera-select {
    display: none;
}
