<ion-header>

  <ion-navbar>
    <ion-title>Make Gift</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <p style="text-align: center;" *ngIf="addLinkCount == 0">First add a digial link to your physical gift. This is the connection between your physical and digital content.</p>

  <p style="text-align: center;" *ngIf="addLinkCount > 0 && addContentCount == 0">Now try adding some content to this link.</p>

  <p style="text-align: center;" *ngIf="addContentCount == 1">You can add more than one piece of content to each link.</p>

  <ng-container *ngFor="let entry of timelineEntries">
    <ion-card *ngIf="entry.getMetadata('hg_entry_type') == 'link'">
      <!-- Header -->
      <ion-item>
        <ion-avatar item-start>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'qrcode'"  src="assets/imgs/example-qrcode.png"/>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'artcode'" src="assets/imgs/example-artcode.png"/>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'nfc'"     src="assets/imgs/example-nfc.png"/>
        </ion-avatar>
        {{ entry.getMetadata('hg_link_type') == 'qrcode' ? 'QR code' : (entry.getMetadata('hg_link_type') == 'nfc' ? 'NFC tag' : 'Artcode '+getArtcodeCodeFromUri(entry.getMetadata('hg_link_uri')) ) }}
        <button ion-button outline item-end *ngIf="entry.getId().isLocal()" (tap)="removeLink(entry.getMetadata('hg_link_uri'))">
          Remove
        </button>
      </ion-item>

      <!-- Content -->
      <ng-container *ngFor="let contentEntry of timelineEntries">
        <ion-item *ngIf="contentEntry.getMetadata('hg_entry_type') != 'link' && contentEntry.getMetadata('hg_link_uri') == entry.getMetadata('hg_link_uri')">
          <img *ngIf="contentEntry.getMetadata('hg_entry_type') == 'image'" src="{{ contentEntry.getLocalContentURI() }}"/>
          <p   *ngIf="contentEntry.getMetadata('hg_entry_type') == 'text'" >{{ decodeBase64TextURI(contentEntry.getLocalContentURI()) }}</p>
          <button ion-button outline item-end *ngIf="contentEntry.getId().isLocal()" (tap)="removeContent(contentEntry.getId())">
            Remove
          </button>
        </ion-item>
      </ng-container>

      <!-- Actions (add content) -->
      <ion-list>
        <button ion-item detail-none (tap)="addContent(entry.getMetadata('hg_link_uri'), 'text')">
          Add text
          <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
        </button>
        <button ion-item detail-none (tap)="addContent(entry.getMetadata('hg_link_uri'), 'image')">
          Add photo
          <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
        </button>
      </ion-list>

    </ion-card>
  </ng-container>

  <p style="text-align: center;" *ngIf="addLinkCount == 1">You can add more than one link to your gift, or keep it simple with one.</p>

  <ion-card class="limit-width">
    <button ion-item detail-none (tap)="addLink()">
      {{ timelineEntries.length == 0 ? 'Link to your physical gift' : 'Add another link to your physical gift' }}
      <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
    </button>
  </ion-card>

  <p style="text-align: center;" *ngIf="timelineEntries.length > 1">Note: you can't remove or change content after sending!</p>
  
  <ion-card *ngIf="timelineEntries.length > 1" class="limit-width">
    <button ion-item detail-none (tap)="send()">
      Send
      <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
    </button>
  </ion-card>

</ion-content>
