<ion-header>

  <ion-navbar>
    <ion-title>Make Gift</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ng-container *ngFor="let entry of timelineEntries">
    <ng-container *ngIf="entry.isThankYouNote()">
      <p style="text-align: center;">Their response:</p>
      <ion-card class="thankyounote">
        <ion-item>
          <p>{{ decodeBase64TextURI(entry.getLocalContentURI()) }}</p>
        </ion-item>
      </ion-card>
    </ng-container>
  </ng-container>

  <!-- Memorable name display/entry -->
  <ion-card>
    <ion-item style="font-size: 1.4rem;">
        Add a name or comment to remind yourself what this gift is for. This is optional and only you will see this. E.g. "Card for Sarah"
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label fixed>Memorable Name</ion-label>
        <ion-input type="text" [(ngModel)]="giftMemorableName"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>



  <!--  Default content  -->
  <ng-container *ngIf="defaultContentTimelineEntries.length != 0">
      <ion-card>
        <!-- Header -->
        <ion-item>
          One or more of the QR codes or NFC tags you used has attached content created by the manufacturer:
        </ion-item>
  
        <!-- Content -->
        <ng-container *ngFor="let contentEntry of defaultContentTimelineEntries">
          <ion-item *ngIf="contentEntry.getMetadata('hg_entry_type') != 'link'">
            <img *ngIf="contentEntry.getMetadata('hg_entry_type') == 'image'" class="timeline-entry-image" src="{{ timelineProvider.replaceFilePathVariablesForDisplay(contentEntry.getLocalContentURI()) }}" (tap)="openImage(contentEntry)"/>
            <p   *ngIf="contentEntry.getMetadata('hg_entry_type') == 'text'"  class="timeline-entry-text" [style.font-size.%]="fontStyleForText(decodeBase64TextURI(contentEntry.getLocalContentURI()))" >{{ decodeBase64TextURI(contentEntry.getLocalContentURI()) }}</p>
            <p   *ngIf="contentEntry.getMetadata('hg_entry_type') == 'url'"   class="timeline-entry-url" >{{contentEntry.getMetadata('title')}}<br><a href="#" (tap)="openUrl(decodeBase64TextURI(contentEntry.getLocalContentURI()))">{{ decodeBase64TextURI(contentEntry.getLocalContentURI()) }}</a></p>
          </ion-item>
        </ng-container>
  
      </ion-card>
    </ng-container>


  <p style="text-align: center;" *ngIf="addLinkCount == 0">First add a digial link to your physical gift. This is the connection between your physical and digital content.</p>

  <p style="text-align: center;" *ngIf="shouldAddDefaultContent && addLinkCount > 0 && addContentCount <= 1">We have started you off with content from Debbie Bryan. Try adding some content to this link.</p>

  <p style="text-align: center;" *ngIf="addContentCount <= 2">You can add more than one piece of content to each link.</p>

  <ng-container *ngFor="let entry of timelineEntries">
    <ion-card *ngIf="entry.getMetadata('hg_entry_type') == 'link'">
      <!-- Header -->
      <ion-item>
        <ion-avatar item-start>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'qrcode'"  src="assets/imgs/example-qrcode.png"/>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'artcode'" src="assets/imgs/example-artcode.png"/>
          <img item-start style="border-radius: 0%;" *ngIf="entry.getMetadata('hg_link_type') == 'nfc'"     src="assets/imgs/example-nfc.png"/>
        </ion-avatar>
        {{ entry.getMetadata('hg_link_type') == 'qrcode' ? 'QR code' : (entry.getMetadata('hg_link_type') == 'nfc' ? 'NFC tag' : 'Artcode '+getArtcodeCodeFromUri(entry.getMetadata('hg_link_uri')) ) }}
        <button ion-button outline item-end *ngIf="entry.getId().isLocal()" (tap)="removeLink(entry.getMetadata('hg_link_uri'))">
          Remove
        </button>

      </ion-item>

      <!-- Content -->
      <ng-container *ngFor="let contentEntry of timelineEntries">
        <ion-item *ngIf="contentEntry.getMetadata('hg_entry_type') != 'link' && contentEntry.getMetadata('hg_link_uri') == entry.getMetadata('hg_link_uri')">
          <img *ngIf="contentEntry.getMetadata('hg_entry_type') == 'image'" class="timeline-entry-image" src="{{ timelineProvider.replaceFilePathVariablesForDisplay(contentEntry.getLocalContentURI()) }}"/>
          <p   *ngIf="contentEntry.getMetadata('hg_entry_type') == 'text'"  class="timeline-entry-text" [style.font-size.%]="fontStyleForText(decodeBase64TextURI(contentEntry.getLocalContentURI()))" >{{ decodeBase64TextURI(contentEntry.getLocalContentURI()) }}</p>
          <p   *ngIf="contentEntry.getMetadata('hg_entry_type') == 'url'"   class="timeline-entry-url" >{{contentEntry.getMetadata('title')}}<br><a href="#" (tap)="openUrl(decodeBase64TextURI(contentEntry.getLocalContentURI()))">{{ decodeBase64TextURI(contentEntry.getLocalContentURI()) }}</a></p>
          <button ion-button outline item-end *ngIf="contentEntry.getId().isLocal()" (tap)="removeContent(contentEntry.getId())">
            Remove
          </button>
        </ion-item>
      </ng-container>

      <!-- Actions (add content) -->
      <ion-list>
        <button ion-item detail-none (tap)="addContent(entry.getMetadata('hg_link_uri'), 'text')">
          Add text
          <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
        </button>
        <button ion-item detail-none (tap)="addContent(entry.getMetadata('hg_link_uri'), 'image')">
          Add photo
          <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
        </button>
        <button ion-item detail-none (tap)="addContent(entry.getMetadata('hg_link_uri'), 'url')">
          Add link
          <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
        </button>
      </ion-list>

    </ion-card>
  </ng-container>

  <p style="text-align: center;" *ngIf="addLinkCount == 1">You can add more than one link to your gift, or keep it simple with one.</p>

  <ion-card class="limit-width">
    <button ion-item detail-none (tap)="addLink()">
      {{ timelineEntries.length == 0 ? 'Link to your physical gift' : 'Add another link to your physical gift' }}
      <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
    </button>
  </ion-card> 


    <p style="text-align: center;" *ngIf="timelineEntries.length > 1">Note: you can't remove or change content after uploading!</p>
    
    <ion-card *ngIf="timelineEntries.length > 1 && containsUnpublishedData" class="limit-width">
      <button ion-item detail-none (tap)="publish()">
        {{ timeline.getTimelineID() < 0 ? "Upload" : "Update" }}
        <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
      </button>
    </ion-card>

  <ion-card *ngIf="timeline.hasArtcodesShareUrl()" class="limit-width">

    <ion-list>
      <button ion-item detail-none (click)="copyArtcodeUrlAlert()">
        To share the digital content with the recipient please send them this link 
        {{timeline.getArtcodesShareUrl()}}
        they can copy/paste into this app
        <ion-icon item-end name="arrow-dropright-circle" style="padding-left: 0.2em;"></ion-icon>
      </button>
    </ion-list>
      
  </ion-card>

</ion-content>
